<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Valet Service Portal", "Index", "Organizations", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ticket Data", "ViewTicketData", "Organizations")</li>
                    <li>@Html.ActionLink("Vehicle Data", "ViewVehicleData", "Organizations")</li>
                </ul>
            </div>
        </div>
    </div>

        <div class="container body-content">
            @RenderBody()
            <div class="push"></div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Valet Service Inc</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .push {
        height: 100px; /* .push must be the same height as .footer */
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
    }
</style>